.container{
    border: 3px solid #4B0082;
    width: 30%;
    border-radius: 15px;
    padding: 20px;
    margin-top: 5%;
}
#imgUser{
    border-radius: 50%;
    border:1px solid #191970;
    width: 100px;
}